@media screen and (max-width:369px) and (min-width:10px) {
    .ATBox th{
        width: 20%;
        font-size: 13px;
    }
    .ATBox td{
        font-size: 13px;
    }
}

.ATBox table{
    border: 1px solid #000;

    height: auto;
    border-collapse: collapse;
}
.ATBox tbody{
    height: auto;

    z-index: -1;
    
}
.ATBox tbody tr{ 
    width: auto;    height: auto;
}
.ATBox tbody :hover{
    background-color: skyblue;
}
.ATBox{
    height: auto;

}
.ATBox tr{
    height: auto;

}
.ATBox th{
    border: 1px solid #000;
    height: 30px;
    background-color: rgb(171,230,157);
    line-height: 30px;

    color: white;
    width: auto ;
    width: auto;
}
.ATBox td{
    height: 30px;
    color:black;

    border: 1px solid #000;

    width: auto;
    text-align: center;
}

.asc{
    color: black;
    width: auto;
}

.dbtn{
    border: 0px solid #000;
    cursor: pointer;
    background-color: transparent;
}



  
  .highlight {
    color: red;

  }
  

  .seach{
    margin-bottom: 15px;
  }