
/* @media screen and (max-width:501px) and (min-width:362px){
    #Aep{
        width: 60% !important;
    }
    .addDeleteBTN{
        float: right !important;
        font-size: 10px !important;
    }
} */
@media screen and (max-width:361px) and (min-width:10px){
    .addDeleteBTN{
        width: auto !important;
        font-size: 10px !important;
        position: relative !important;
        left: 90px !important;
        bottom: 10px;
    }
}

.addDeleteBTN{
    width: auto;
    float: right;
}
#H button{
    width: auto;
    border: 0;
    float: right;
    height: auto;
    border-radius: 5px;
    background-color: rgb(171,230,157);
}



#Aep{
    width: 82%;
}


#lit{
    width: 100% !important;
}