@media screen and (max-width:721px) and (min-width:461px) {
  .ClickLayout{
    width: 100% !important;
  }
  .sticky{
    width: 100% !important;
  }
  .RigthLayout{
    margin-top: 8px;
    width: 38% !important;

  }
  .LeftLayout{
    float: left;
    width: 45%;
    margin-left: 90px;
    margin-top: 8px;
  }
  .Litem{
    float: left;
    width: 100% !important;
    position: relative;
    right: 80px;
  }
  .Ritem{
    position: relative;
    left: 130px;
    float: right;
    width: 100% !important;
  }

}
@media screen and (max-width:460px) and (min-width:362px) {
  .ClickLayout{
    width: 100% !important;
  }
  .sticky{
    width: 100% !important;
  }
  .Ritem{
    width: auto !important;
  }
}
@media screen and (max-width:361px) and (min-width:10px){
  .ClickLayout{
    width: 100% !important;
  }
  .Layout{
     font-size: 12px;
     line-height: 18px;
  }
  .ClickLayout{
    margin-top: 0px !important;
  }
  .Litem{
    width: 100% !important;
  }
  .Ritem{
    position: relative;
    position: relative;right: 10px !important;
    right: 75px;
    width: auto !important;
  }
  .sticky{
    width: 100% !important;
  }
}
  .ClickLayout{
    width: 80%;
  }

  .LayoutContent {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    height: 35px;
  }
  .ClickLayout {
    color:white;
    position: sticky;
    width: 100% !important;
    margin-top: 30px;
    font-size: 15px;
  }

  .LeftLayout{
    float: left;
    width: 45%;
    margin-top: 8px;
  }
  .Litem{
    float: left;
    width: 20%;
    margin-left: 10px;
  }
  .Ritem{
    float: right;
    width: 25%;
  }
  .RigthLayout{
    margin-top: 8px;
    width: 55%;
    float: right;
  }

.ScrollDown{
    width: 50px;
}
.ScrollTop{

  width: 50px;
}




.sticky{
  position: fixed !important;
  top: 0 !important;
  width: 80% ;
  margin-top: 0;
}
.sticky .ScrollBTN{
  margin-top: 35px;
}
.ScrollBTN{
  float: left;
}

.BackEpisode{
  cursor: pointer;
}
.NextEpisode{
  cursor: pointer;
}