@media screen and (max-width:721px) and (min-width:362px) {
    .CommentComponent{
        width: 80%;
        margin: 0 auto !important;
    }
    .CommentBox{
        width: 100% !important;
    }
    .CommentList{
        width: 100% !important;
    }
    .CommentComponent li{
        list-style: none;
        width: 100%;
        border-bottom: 1px solid #000;
    }
}
@media screen and (max-width:361px) and (min-width:50px) {
    .CommentComponent{
        width: 80%;
        margin: 0 auto !important;
    }
    .CommentBox{

        width: 100% !important;
    }
    .Comment{

        width: 100% !important;
        background-color: rebeccapurple;
    }
    .CommentList{
        min-width:100% !important;
        float: left;
        margin-left: 30px;
    }
    .CommentComponent li{
        list-style: none;
        border-bottom: 1px solid #000;
    }
}
.CommentComponent{
    float: left;
}
.CommentComponent li{
    list-style: none;
    width: 98%;
    border-bottom: 1px solid #000;
}
.Comment_Content{
    font-size: 13px;
}
.NameDay{
    font-size: 11px;
}
.CommentList{
    position: relative;
    right: 27%;
    width: 70% !important;
}
.CommentBox{
    width: 
    100%;
    float: left;
}
.CommentBox textarea{
    width: 98%;
}
.CommentUpload{
    width: 100%;
    height: 25px;
}