@media screen and (max-width:3001px) and (min-width:2500px){
    .mrbox{
        width: 100% !important;
    }
    .RBox{
        width: 30% !important;
        margin-left: 0px !important;
    }
    .RankImg{
        width: 100%  !important;
        height: 330px !important;
    }
    .RankImg img{
        height: 325px !important;
    }

}
@media screen and (max-width:1899px) and (min-width:1200px){
    .mrbox{
        width: 100% !important;
    }
    .rankContent{
        margin-top: 0px !important;
        margin-bottom: 10px !important;
    }
    .rc p{
        padding-bottom: 40px !important;
    }
    .RBox{
        width: 30% !important;
        margin-left: 0px !important;
    }
    .RankImg{
        width: 100%  !important;
        height: 170px !important;
    }
    .RankImg img{
        height: 170px !important;
    }

}
@media screen and (max-width:721px) and (min-width:362px){
    .HHH{
        margin-left: 10px !important;
    }
    .mrbox{
        width: 100% !important;
    }
    .rc p{
        float: left !important; 
        position: relative;
    }
    .HotToon{
        width: 80% !important;
        min-height: 100px;
        margin-right: 90px !important;

    }
    .RBox{
        float: left !important;
        width: 100% !important;
    }
    .RankImg img{
        height: 325px !important;
    }

    .Rank{
        width: 100% !important;
    }
    .Rankitem{
        width: 100% !important;
    }
    .RankImg{
        width: 100% !important;
    }
    .RBox{
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

}
@media screen and (max-width:460px) and (min-width:401px) {
    .mrbox{
        width: 100% !important;
        margin: 0 auto !important;
    }
    .rc p{
        margin-top: 0px !important;
        padding-bottom: 20px !important;
    }
    .rankContent{
        margin-bottom: 10px !important;

    }
    .RankImg{
        width: 100% !important;
        height: 180px !important;
    }
    .RankImg img{
        width: 100% !important;
        height: 176px !important;
    }
    .RBox{
        margin-left: 15% !important;
    }

}
@media screen and (max-width:400px) and (min-width:10px){
    .HHH{
        width: 97%;
        padding-left: 3%;
        margin-top: 15px;
        font-size: 16px !important;
        }
    .RankImg img{
        height: 220px !important;
    }

    .mrbox{
        width: 100% !important;

    }
    .rc p{
        float: left !important; 
        width: 105% !important;
        margin-top:0px !important;
        font-size: 11px !important;
    }
    .HotToon{
        width: 80% !important;
        margin-left: 7% !important;
    }
    .RBox{
        float: left !important;
        width: 100% !important;
    }

    .RankImg img{
        height: 162px !important;
    }
    .Rank{
        width: 100% !important;
        background-color: blue;
    }
    .RankText{
        font-size: 13px !important;
    }
    .Rankitem{
        width: 100% !important;

        background-color: red;
    }
    .RankImg{
        width: 100% !important;
    }
    .RBox{
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

}


.mrbox{
    background-color: white;
    width: 100%;
    max-width: 1920px;
    float: left;
}

.HotToon {
    background-color: white;

    display: flex;
    flex-wrap: wrap; /* 줄바꿈 설정 */
    justify-content: space-between; /* 요소들을 가로로 고르게 배치 */
  }

.HHH{
    font-size: 22px;
    background-color: white;

    float: left;
    margin-bottom: 20px;
}
@media (prefers-color-scheme: dark) {
    .RBox{
        margin-left: 0.3% !important;
    }
}
.RBox{
    background-color: white;

    width: calc(30%);
    /* border: 1px solid rgb(171,230,157); */
    margin-left: 23px;
    /* border: 1px solid black; */
    display: block;
    
    margin-right: 25px;
    margin-bottom: 20px;
}

.RankImg img{ 
    width: 100%;
    height: 260px;
    
    object-fit: contain;
    box-shadow: 2px 2px 2px 2px;
}
.RankImg{
    width: 100%;
    float: left;
    
    background-color: rgb(171,230,157);
    height: 100%;
    object-fit: contain;
    padding: 10px;
}
.rc p{
    float: left;
    font-size: 15px;
    background-color: white;

    margin-top: 20px;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(171,230,157);
    /* float: left; */
    width: 105%;
    /* width: 40%; */
}


.RankAT{
    background-color: white;

    color:gray;
}



/* mainRank.module.css 파일 */

.webtoonImage {
    
    transition: transform 0.3s; /* 애니메이션 효과를 위한 속성 추가 */
  }
  .RankWN{
    background-color: white;
  }
  .webtoonImage:hover {
    transform: scale(1.1); /* 이미지를 확대하는 애니메이션 */
  }
  .webtoonImage:hover +  .one {
    display: none;
  }
  
  .RankText{
    float: left;
    /* float: left; */
    /* width: 40%; */
    margin-top: 12px;
    width: 60%;
    background-color: white;

    margin-bottom: 10px;
}
  .rankNum{
    float: left;
    margin-top: 12px;

    width: 7%;
    font-size: 32px;
  }
  .rankNum{
    background-color: white;

  }

  .FirstRank{
    animation: scaleAnimation 3s infinite; /* 3초 동안 애니메이션 반복 */
}


@keyframes scaleAnimation {
    0% {
      transform: scale(1); /* 초기 크기 */
    }
    50% {
      transform: scale(1.1); /* 중간 크기 (커진 상태) */
        color:rgb(104, 125, 99);
    }
    100% {
      transform: scale(1); /* 다시 초기 크기로 돌아옴 */
    }
  }
  @keyframes scaleAnimation2 {
    0% {
      transform: scale(1); /* 초기 크기 */
    }
    50% {
      transform: scale(1.1); /* 중간 크기 (커진 상태) */
        color:rgb(104, 125, 99);
    }
    100% {
      transform: scale(1); /* 다시 초기 크기로 돌아옴 */
    }
  }

  .FirstImgBox{
    background-color: rgb(196, 246, 179);
    
  }
  .FirstImgBox img{
    animation: scaleAnimation 3s infinite; /* 3초 동안 애니메이션 반복 */

  }