@media screen and (max-width:500px) and (min-width:10px){
    .footer{
        position: absolute;
        bottom: 0;
        width: 360px !important;
    }
}
.footer{
    border-top: 1px solid rgb(230, 226, 226);
    width: 100%;
    float: left;
    height: 60px;
    margin-top: 1vw;
}
.footer .FL{
    margin: 0 auto;
    float: left;
    height: 3vw;
}
.footer li{
    text-align: center;
    margin-top: 5px;
    color:rgb(218, 213, 213);
    font-size: 10px;
    text-align: center;
    width: 6vw;
    
    list-style-type: none;
    float: left;
    margin-left: 0.5vw;

    -webkit-transform:scale(0.8);
}
.FL p{
    float: left;
    font-size: 10px;
    -webkit-transform:scale(0.8);

    color:rgb(218, 213, 213);
}
