.header{
    display: block;
    width: 360px;
    height: 5vw;
    border-bottom: 1px solid gray;
}
.TopHeader{
    float: left;
    width: 20%;
    background-color: yellow;
    height: 100%;
}
.header .LogoBox{
    width: 20%;
    background-color: beige;
    float: left;
}
.header .Logo{
    margin-left: 5%;
    font-size: 1.5vw;
    float: left;
    line-height: 5.5vw;
    width: 10%;
}
.rb{
    width: 80%;
    float: left;
    background-color: blue;
    height: 100%;
}
.SerchBar{
    float: left;
    background-color: rebeccapurple;
    margin-right: 5%;
    height: 100%;
    width:100%;
}
.SerchBar input{
    width: 20%;
    margin-left: 9vw;
    float: left;
    height: 4%;
    font-size: 1px;
}
.LoginBtn{
    width: 12%;
    margin-left: 1%;
    height: 4%;
    background-color: aliceblue;

}
.SerchBtn{
    width:12%;
    font-size: 1px;
    float: left;
    height:4;

}



.DayBox{
    width: 100%;
    border-bottom: 1px solid gray;
    height: 1.8vw;
    float: left;
    display: block;
}

.Day{
    
    margin: 0 auto;
}
.Day li{
    float: left;
    list-style: none;
    width: 8%;
    
    margin-right: 0.5vw;
    line-height: 1.5vw;
    font-size: 0.8vw;
}
.AllDay{
    width: 15% !important;
}