@media screen and (max-width:721px) and (min-width:362px){
    .ListPage{
        width: 720px !important;
    }
    #PointBtn{
        width: 100% !important;
    }
    .IBtn{
        width: 65% !important;
    }
    .InfoBtn{
        margin: 0 auto !important;
        width: 100% !important;
        margin-top: 3% !important;
    }


    .tab2{
        line-height: 10vw !important;
    }
    #line{
        line-height: 10px;
    }
    .ListInfoBox{
        height: 500px !important;
        width: 80% !important;
    }
    .ListImgBox{
        width: 100%;
        height: 190px !important;
    }
    .ListImgBox img{
        height: 100% !important;
    }
    .SNSBTN{
        width: 30% !important;
        margin-left: 5%;
    }
    /* 썸네일 밑에 제목 글자 간격 조정 */


    .tab2{
        position: relative;
        bottom:4vw !important;
    }
    .GrayP{
        position: relative;
        bottom: 10vw !important;
    }
    .List{
        margin-top: 5%;
        width: 80% !important;
    }
    .ListItem{
        position: relative;
        right: 15vw;
    }



}
@media screen and (max-width:361px) and (min-width:10px) {

 
    



    #PointBtn{
        width: 100% !important;
    }
    .ListPage{
        width: 360px !important;
    }
    .IBtn{
        width:50% !important;
        font-size: 10px !important;
    }
    
    .SNSBTN{
        width: 47.5% !important;
    }
    .InfoBtn{
        margin: 0 auto !important;
        width: 100% !important;
        margin-top: 6% !important;
    }



    .tab2{
        line-height: 10vw !important;
    }
    #line{
        line-height: 10px;
    }
    .ListInfoBox{
        height: 500px !important;
        width: 85% !important;
    }
    .ListImgBox {
        display: flex;
        align-items: center;
        width: 100%;
        height: 140px !important;
      }
    .ListImgBox img{
        height: 100% !important;
    }

    /* 썸네일 밑에 제목 글자 간격 조정 */


    .tab2{
        position: relative;
        bottom:4vw !important;
    }
    .GrayP{
        position: relative;
        bottom: 20vw !important;
    }
    .List{
        margin-top: 1vw;
        width: 80% !important;
        float: left !important;
    }
    .ListItem{
        position: relative;
        right: 8vw;
        width: 100%;
    }
    .ListImg {
        width: 35% !important;
        height: 100% !important;
        float: left;
        object-fit: contain; /* 이미지 비율 유지 */
      }
    .ListItem .ListImg img{
        width:100% !important;
        height: 100% !important;
        float: left;
    }
    .Episode {
        width:60% !important;
        height: 100%;
        display: block;
        
        align-items: center;
      }
    .LT{
        width: 100% !important;
    }
    .SU{
        width: 30% !important;
        float: left !important;
    }
}

.ListPage{
    width: 100%;
    margin: 0 auto;
}
.ListInfo{
    height: 100px;
    float: left;
    width: 100%;
    margin: 0 auto;

    
}
.ListImgBox{
    position: relative;
    bottom: 1.6vw;
}
.ListImgBox img{

    float: left;
    width: 100%;
    background-color: ivory;
    height: 160px;
    margin-right: 15px;
}

.ListInfo p{
    float: left;
    width: 100%;
    height: 100px;
}
.GrayP{
    color:gray;
    float: left;
    position: relative;
    bottom:5.5vw
}
.ListInfo h3{
    position: relative;
    top:20px;
}
.ListInfo span{
    color:black;
    margin-left: 5%;
    width: 20%;
}
.TextBox{
    height: 150px;
    font-size: 1vw;
    width: 100%;
}

.InfoBtn{
    width: 100%;
    float: left;
    margin-top: 6%;
}

.IBtn{
    width: 60%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(230, 226, 226);
    background-color: rgb(247, 247, 247);
}
#PointBtn{
    width: 100%;
    border: 1px solid rgb(208, 249, 208);
    background-color: rgb(210, 246, 210);
}
.SNSBTN{
    border-radius: 5px;
    width: 40%;
    height: 35px;

    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(230, 226, 226);
}
li{
    list-style: none;
}
.ListInfoBox{
    width: 100%;
    float: left;
    height: 300px !important;
}


.List{
    margin-top: 10%;
    float: left;
    width: 100%;

}
.Pagination{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
.Pagination Button{
    background-color: white;
    border: none;
    cursor:pointer;
    margin-right: 8px;
    width: 10%;
}
.ListItem{
    width: 100%;
    height: 80px;
    padding: 3px;
    border-bottom: 1px solid rgb(230, 226, 226);
}
.ListItem .ListImg img{
    width:15%;
    height: 80px;
    float: left;
    background-color: yellow;
}
.Episode{
    margin-top: 1.5vw;
    width: 80%;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    float: left;
    margin-left: 2%;
}


.SU span{
    margin-left: 20px;
}
