@media screen and (max-width:500px) and (min-width:10px) {
    .ListItem{
        width: 100% !important;

        background-color:  red;
    }
    .ListPage{
        width: 90% !important;
    }
    .ListInfo h3{
        float: left;
        height: 8vw; 
    }
    .ListImg{
        float: left;
        width: 70% ;
    }
    .ListImg img{
        float: left;
        width: 35% !important;
    }
    .InfoBtn{
        display: none !important;
    }
    .Pagination{
        margin-top: 15px !important;
        margin-bottom: 5px;
    }
    .Episode{
        float: left !important;
        width: 30% !important;

    }
    .Episode p{
        font-size: 1.2px;
        margin-top: 3%;
        line-height: 5vw;
    }
    .SU{
        margin: 0;
    }
}

.ListPage{
    width: 100%;
    margin: 0 auto;
}
.ListInfo{
    height: 100px;
    float: left;
    width: 100%;
    margin: 0 auto;

    
}
.ListImgBox img{
    float: left;
    width: 100%;
    background-color: ivory;
    height: 160px;
    margin-right: 15px;
}

.ListInfo p{
    float: left;
    width: 100%;
    height: 100px;
}
.GrayP{
    color:gray;
}
.ListInfo h3{
    
    position: relative;
    top:20px;
}
.ListInfo span{
    color:black;
    margin-left: 5%;
    width: 20%;
}
.TextBox{
    height: 150px;
    font-size: 1vw;
}
.TextBox h3{
}
.ToonTinfo{
        line-height: 100px;
}
.InfoBtn{
    width: 100%;
    margin-bottom: 30px;
    float: left;width: 100% ;
}
.ToonTinfo p{
    color:black;
    width: 100%;
}

.IBtn{
    width: 30%;
    margin-right: 2vw;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(230, 226, 226);
    background-color: rgb(247, 247, 247);
}
#PointBtn{
    border: 1px solid rgb(208, 249, 208);
    background-color: rgb(210, 246, 210);
}
.SNSBTN{
    border-radius: 5px;
    width: 17.5%;
    height: 35px;

    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(230, 226, 226);
}
li{
    list-style: none;
}
.ListInfoBox{
    width: 100%;
    float: left;
    height: 350px;
}

.List{
    float: right;
    width: 100%;

}
.Pagination{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
.Pagination Button{
    background-color: white;
    border: none;
    cursor:pointer;
    margin-right: 8px;
    width: 10%;
}
.ListItem{
    width: 100%;
    height: 80px;
    padding: 3px;
    border-bottom: 1px solid rgb(230, 226, 226);
}
.ListItem .ListImg img{
    width:15%;
    height: 80px;
    float: left;
    background-color: yellow;
}
.Episode{
    width: 80%;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    line-height: 3.2vw;
    float: left;
    margin-left: 2%;
}


.SU span{
    margin-left: 20px;
}

