
*{
    text-decoration-style: none;
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
    width: 360px;
    margin:  0 auto;
}

.Categories{
    font-size: 1vw;
    width: 90%;
    height: 2vw;
    float: left;
    margin: 0 auto;
    margin-top: 30px;
}


.AllToon{
    width: 360px;
    margin: 0 auto;
    float: left;
    border-collapse:collapse;
}
.AllToon table{
    width: 360px;
    
}
.AllToon table p{
    margin-left: 5%;
    margin-top: 3%;
    float: left;
}

table , th ,td ,td{

  border-collapse: collapse;
}

.AllToon .ToonTitle{
    font-size: 1vw;
}
.AllToon .AllToonInfo img{
    width: 9vw;
    height: 10vw;
    float: left;
    text-align: center;
    border-collapse:collapse;

}
.AllToon .AllToonInfo{
    height: 12vw;
    width: 9vw;
    border-collapse:collapse;
}




/* 요일별 css */
.Mid{
    width: 90%;
    margin: 0 auto;
}
.DayToon{
    float: left;
    width: 70%;
}
.DayToon table{
    width: 100%;
}
.Mid .DayToon .DayToonItem {
    width: 95%;
    height: 230px;
    margin-right: 10px;
    background-color: firebrick;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Mid .DayToon .DayToonItem img {
    background-color: yellow;
    width: 100%;
    height: 100%;
  }
  .DayToonItem p{
    float: left;
  }
  
.RBox{
    width: 30%;
    float: left;
}
.HotToon h3{
    width: 90%;
    height: 23px;
    border-bottom: 1px solid rgb(230, 226, 226);
}


/* rank 랭크 */
.Rank{
    width: 100%;
    float: left;
    height: 90px;
    margin-bottom: 10px;
    background-color: red;
}
.HotToon li{
    list-style: none;   
}
.RankImg img{
    float: left;
    width: 20%;
    height:90px;
    border-radius: 5px;
    background-color: yellow;
}
.RankNum{
    width: 5%;
    background-color: honeydew;
    float: left;
    height: 90px;
    line-height: 50px;
}
.RankText{
    float: left;
    background-color: beige;
    width: 50%;    
    height: 90px;
    margin-left: 3%;
}