@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* .mp *{
    font-family: 'Jua', sans-serif;
    text-decoration-style: none;
    text-decoration: none;
    color: inherit;
    width: 360px;
    margin:  0 auto;
} */
@media screen and (max-width:1800px) and (min-width:1741px) {
    .Categories{
        margin-left: 10px !important;
    }
    .leftWn{
        width: 35% !important;
        font-size: 14px;
    }
    .hoverP{
        bottom:8px !important;
    }
    .rightAr{
        font-size: 14px;

        width: 59.5% !important;
    }

}
@media screen and (max-width:1740px) and (min-width:1201px) {
    .leftWn{
        width: auto !important;
        font-size: 14px;
    }
    .AllToonInfo img{
        height: 65% !important;
    } 
    .imgBox{
        height: auto !important;

    }
    .rightAr{
        font-size: 14px;

        width: auto !important;
    }
    .hoverP{
        bottom:0px !important;
    }
    .likee{
        display: none;
    }
}

@media screen and (max-width:721px) and (min-width:362px) {
    /* 메인 */
    .ATimg{
        height: 264px !important;
    }
    .Categories{
        margin-left: 25px !important;
    }
    .rankContent{
        display: none;
    }
    .dayimgBox{
        overflow: hidden;
        height: 270px !important;
    }
    .dayimgBox img{
        width: 100% !important;
        height: 100% !important;
    }

    #DhoverP{
        bottom:0px !important;
        left:0px !important;
        width:100%;
        
    }
    .leftWn{
        float: left;
        width: 40% !important;
      }
      .rightAr{
        width: 52% !important;
        margin-right: 10px;
        text-align: right;
        float: right;
      }

    .MNewToon{
        width: 100% !important;
    }

    .RankNum{
        width: 17.5% !important;
        float: left;
        font-size: 12px !important;
        margin-left: 2px !important;
        margin-top: 0px !important;
    }
    .RankText{
        float: left;
        margin-left: 0px !important;
        width: 40% !important;
        margin-top: 2px !important;
    }
    #ll{
        width: 66% !important;
    }
    .MainPage{
        width: 100% !important;
        overflow: hidden;
        overflow: hidden;
    }
    
    .Mid .DayToon .DayToonItem.second-item {
        margin-left: 20px !important;
    }   
    .AllToonInfo {
        width: calc(28% - 0px) !important; /* 각 요소의 너비를 33.3%로 설정 (여백 10px 제외) */
        margin-bottom: 10px; /* 요소들 사이의 간격 설정 */
    }

    .AllToonInfo img{
        object-fit: contain !important;
        width: 100% !important;
    }
    .hoverP{
        width: 100% !important;
        font-size: 12px;
    }
    .imgBox{
        height: 95% !important;
        width:100% !important;
    }

    .AllTonnbox{
        width: 100% !important;
    }
    .ToonTitle{
        line-height: 0px !important; 
        margin-bottom: 15px !important;
    }
    .ATtext{
        float: left;
    }
    .aTMT{
        float: left;
        margin-top: 0px !important;
    }
    .AToonTitle{
        font-size: 17px !important;
        margin-top: 2px;
        margin-left: 0px !important;
        margin-bottom: 7px !important;
    }
    .ATBox {
        width: 100% !important;
         /* 요소들을 간격을 유지하면서 정렬 */
      }

  
    .AllToon{  
        width: 100% !important;
        margin: 0 auto;
    }
    .AllToon table{
        margin: 0 !important;
    }



  

    /* 데이페이지 */
    .DayBox{
        overflow: hidden;
        width: 100% !important;
    }
    .Mid {
        display: flex !important; /* 요소들을 가로 방향으로 배치하기 위해 flexbox를 사용합니다 */
        justify-content: space-between ; /* 요소들을 양쪽으로 붙이도록 설정합니다 */
        align-items: flex-start; /* 요소들을 위쪽으로 정렬합니다 */
      }
    
    .DayToonItem{
        padding-right: 0px !important;
        width: 205px !important;
        margin-left: 25px !important;
    }
    .DayToonIMG{
        object-fit: cover;
    }
    #ll{
        width: 450px !important;
    }

    
    .DayToonBox{
        width: 100% !important;
        float: left;
    } 
    .DayToonItem p{
        font-size: 15px !important;
        text-align: left;
      }
      .ToonTitle{
        margin-top: 5px;
      }
      .Writer{
        line-height: 3px !important;
        margin-bottom: 4px;
    }
    .Mid .DayToon .DayToonItem {
        width: 100% !important;
        height:250px !important;
        margin-bottom: 50px;
      }
    
      .Mid .DayToon .DayToonItem.second-item {
        margin-left: 20px;
      }
    .RBox{
        float: left !important;
        width: 100% !important;
    }
    .Rank{
        float: left !important;
        width: 95% !important;
    }
    .RankNum{
        margin-top: 25px !important;
    }
    .Rank .RankImg{
        width:35% !important;
        padding: 0px !important;
    }
    .RankImg img{
        width: 100% !important;
        margin-bottom: 7px !important;
    }
    .HHH{
        margin-top: 40px !important;
        float: left !important;
        bottom: 30px !important;
        margin-left:0px !important;
    }

    .Rankitem{
        margin-top: 10px !important;
        float: left;
        width: 100%;
    }
    .RankText{
        float: right;
        margin-top: 25px !important;
    }


    /* 태그페이지 */
    .tag{
        width: 80% !important;
    }
    .tagItem li{
        width: 7vw !important ;
        /* margin-right: 1.5vw !important; */
        margin-left: 5.5px;
    }
}
/* phone */
@media screen and (max-width:415px) and (min-width:362px) {
    /* 메인페이지  */
    /* .mp *{
        width: 100% !important;
    } */
    .MainPage{
        width: 100% !important;
        margin: 0 auto;
    } 
    .AllToon{  
        width: 100% !important;
        margin: 0 auto;
        
    }
    .AllToon table{
        margin: 0 !important;
    }
    .dayimgBox{
        height: 150px !important;
    }

/* test */
    
    .AllToonInfo {
        margin-top:6% !important;
        width: calc(33.3% - 10px) !important; /* 각 요소의 너비를 33.3%로 설정 (여백 10px 제외) */
        margin-bottom: 5px !important; /* 요소들 사이의 간격 설정 */
        display: flex;
        flex-wrap: wrap; /* 요소들을 여러 줄로 감싸기 */
    }



    /* 데이페이지 */
    .DayBox{
        width: 360px !important;
    }

    .HHH{
        font-size: 1px !important        ;
        float: left !important;
    }
    .DayToonItem{
        width: 100% !important;
        float: left !important;
        
    }

    .RBox{
        display: block;
    }
    .Rank{
        float: left !important;
    }

    .RBox{
        float: left;
    }
    .Rankitem{
        margin-top: 10px !important;
        float: left !important;
        width:30vw;
    }
    .RankText{
        float: left !important;
        font-size: 1px;
        line-height: 8vw;
        margin-left: 3vw !important;
    }
    .RankNum{
    }
    .Mid{
        float: left;
        width: 100% !important;
    }

    /* 태그페이지 */
    .tag{
        
        width: 100% !important;
    }
    .tagItem li{
        width: 8.7vw !important ;
        /* margin-right: 1.5vw !important; */
        margin-left: 5.5px;
    }
}





@media screen and (max-width:361px) and (min-width:10px) {
    .DtextBox{
        width: auto;
        margin-left: 10px;
    }
    .rankContent{
        display: none;
    }
    .ATtext{
        display: block !important;
        width: auto !important;
        margin-left: 16px;
    }
    .ATtext p{
        position: relative;
        bottom: 10px;
    }
    .hoverP{
        display: none;
    }
    .Writer{
        position: relative;
        right: 10px;
        
        font-size: 100px !important;
        display: block !important;
    }
    .imgBox{
        height: 140px !important;
        margin-left: 5%;
        width:90% !important;
    }
    .dayimgBox{
        float: left !important;
        height: 100% !important;
        width: 100% !important;
    }
    .aTMT{
        font-size: 6px !important;
        margin-top: 1px !important;
        width: 100% !important;
        
        position: relative !important;right: 10px;
        
    }
    .ATimg{
        height: 155px !important;
    }
    .DtextBox p{

    }
    .AToonTitle{
        font-size: 10px !important;
        margin-top: 0px !important;
    }
    /* 메인페이지  */

    .MainPage{
        margin: 0 auto;
        width: 100% !important;
    } 
    .AllToon{  
        width: 100% !important;
        margin: 0 auto;
        
    }
    #ll{
        width: 66% !important;
    }
    .AllToonInfo{
        margin-bottom: 80px !important;
        
    }

    .imgBox{
        width: 100% !important;
        height: auto !important;
    }
    
    



    .Mid {
        display: flex !important; /* 요소들을 가로 방향으로 배치하기 위해 flexbox를 사용합니다 */
        justify-content: space-between ; /* 요소들을 양쪽으로 붙이도록 설정합니다 */
        align-items: flex-start; /* 요소들을 위쪽으로 정렬합니다 */
        width: 100% !important;
      }
    .DayBox{
        width: 360px !important;
        
    }
    .DayToonBox{
        width: 100% !important;
    }
    .ToonTitle{
        float: left !important;
        margin-left: 0 !important;
        margin: 0 !important;
        margin-top:5px !important;
        line-height: 0px !important; 
        float: left;
        position: relative;
        right: 10px;
        display: inline !important;
    }
    .AllToonInfo img{
        width: 100% !important;
    }   
    .DayToonItem{
        width: 100% !important;
        margin: 0 !important;       
    }

    .DayToonItem p{
        margin-top: 0px !important;
        position: relative;
        bottom: 0px;
        font-size: 10px !important;
        text-align: left;
      }


    

    .RBox{
        width: auto !important;
        float: left !important;
        margin-right: 15px !important;
    }
    .HotToon{
        width: 100%;
    }
    .Rank {
        
        width: 95% !important;
        float: left !important;
        
}

.Rank .RankImg {
    float: left;
    width: 30%;
    object-fit:  contain !important;
}
.Rankitem{
    float: left !important;
    width: 100%;
}

.RankText {
    width: 60px !important;
    margin-top: 5px !important;
  font-size: 10px !important;
  width: 30%;
}
.RankText .RankWN {
    margin-top: 15px !important;
}
.Rankitem{
    float: left !important;
}
.RankNum {
  font-size: 10px !important;
  margin-top: 30px !important;
  width: 20% !important;
  float: left !important;
  line-height: 0px !important; /* 순위를 수직 가운데로 정렬합니다 */
}
    .HHH{
        width: 60% !important;
        margin-top: 40px !important;
        float: left !important;
        font-size: 15px !important;
    }


}

@media screen and (max-width:362px) and (min-width:30px){
    .dayimgBox{
        float: left;
        background-color: gray;
        height: 165px !important;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .MNewToon{
        width: 100% !important;
    }
    .ATBox{
        width: 100%;
    }
    .AllToon{
        width: 80%;
    }
    .DayToonItem p{
    }
    .AToonTitle{
        margin-bottom: 0px !important;
        width: 100% !important;
        position: relative;
        right: 10px;
    }
    .AllToonInfo {
        margin-top: 4px;

        /* 솔 */
        width: calc(33.3% - 1px) !important;
        height: 95px !important;
        float: left !important;
    }
    .AllToonInfo img{
        width: 100% !important;
    }
    .Star{
        line-height: 3px !important;
        margin-bottom: 6px;
    }
    .Categories{
        font-size: 16px !important;
        margin-left: 16px !important;
    }

    .DayToonItem{
        width: 70% !important;
        margin-left: 10% !important;
    }
    .DayToonItem img{
        object-fit: contain;
    
    }

}
.Categories{
    font-size: 23px ;
    width: 90%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.MainPage{
    width: 80%;
    max-width: 1920px;
}

.AllToon{

    width: 100%;
    margin: 0 auto;
    float: left;
    border-collapse:collapse;
}


.AllToon .ToonTitle{
    font-size: 11px !important;
}
.AllToon .AllToonInfo img{
    object-fit: contain;
    text-align: center;
    width: 100%;
    border-collapse:collapse;
    
}
.AllTonnbox{
    width: 100% ;
    float: left ;
}
.AToonTitle{
    line-height: 5px ;
}

.AllToonInfo {
    height: auto ;
    width: calc(16.66% - 20px); 
    margin-bottom: 10px; /* 요소들 사이의 간격 설정 */
  }

.ATBox {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; /* 넘치는 요소를 여러 줄로 감싸기 */
     /* 요소들을 간격을 유지하면서 정렬 */
  }




/* 요일별 css */
.Mid{
    width: 100%;
    float: left;
    margin: 0 auto;
}
/* 미디어쿼리 포인트 */

.DayToon{
    display: flex;
    display: none;
    flex-wrap: wrap;
    /* width: calc(50% - 15px); 전체 너비에서 Rank 영역의 너비와 여백을 뺀 값으로 설정 */
    float: left;
}
.DayBox{
    width: 80%;
    max-width: 1920px;
    
}
.DayToonBox{
    width: calc(45% - 10px); 
    /* 전체 너비에서 Rank 영역의 너비와 여백을 뺀 값으로 설정 */
    display: block;
    float: left;
} 




  /* .Mid .DayToon .DayToonItem.second-item {
    margin-left: 0px;
  }
   */
  
   .DayToonItem{
    width: 300px;
    float: left;
    padding-right: 30px;
    height: auto ;
    margin-left: 0px;

   }

 
  .DayToonItem p{
    width: 100%;
    float: left;font-size: 20px;
    line-height: 20px;

  }
  .RBox{
    position: relative;
    bottom: 21px;
    float: right;
    width:51%;
  }
  .Rank:hover{
    background-color: rgb(171,230,157);

  }
  .Rank {
    border: 2px solid rgb(171,230,157);
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    float: left;
    color:black;
    width: 98%; /* 부모 요소의 가로 너비에 맞게 설정합니다 */
    height: auto; /* 내용에 맞게 높이를 설정합니다 */
    margin-bottom: 10px;
  }
/* 미디어쿼리 포인트 */




/* rank 랭크 */
.HHH{
    position: relative;
    bottom: 30px;
    font-size: 23px;
    margin-bottom: 1px;
    width: 50%;
    float: right;

}


.RankImg{
    width: 20%;
    float: left;
}
.RankImg img{
    float: left;
    width: 100%;
    object-fit: contain;
    height:100%;
    border-radius: 10px;
}
.RankNum{
    width: 10%;
    float: left;
    font-size: 15px;
    margin-left: 2%;
    line-height: 100px;
    margin-top: 50px;
}
.RankText{
    float: left;
    font-size: 15px;
    width: 10%;
    margin-left: 3%;
    margin-top: 50px;
}
.RankText .RankAT{
}
.RankText .RankWN{
    margin-top: 36px;
}

.ToonTitle{
    float: left;
    line-height: 2px;
    display: none;
}





.ATIMG{
    width: 80%;
    height: 100%;
    object-fit: cover;
}



.DayToonItem img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.DayToonItem img:hover{
    transform: scale(1.1);


}
.dayimgBox{
    background-color: gray ;

    overflow: hidden;
    position: relative;
    float: left;
    height: 390px;
    width: 100%;
    margin-bottom: 10px;
}



.Writer{
    line-height:18px;
    display: none;
}


.AToonTitle{
    font-size: 19px;
    margin-top: 5px;
}


#ll{
    width: 61%;
}
.aTMT{
    font-size: 12px;
    margin-top: 5px;
    color:gray;
}
.MNewToon{
    float: left;
    width: 100%
}
.Writer{
    color:gray;
}
.RankAT
{
    color:gray;
}
.ATimg{
    width: 100% ;
    background-color: gray;
    height: 305px;
    transition: transform 0.2s ease; /* 애니메이션 효과를 위한 transition 추가 */
}
.AllToonInfo .ATimg:hover{
    transform: scale(1.1);
}
.imgBox{
    overflow: hidden;
    float: left;
    height: auto;
    margin-bottom: 10px;
    position: relative;

    width: 100%;
}
#DhoverP{
    bottom:0;
    left:2px;
    /* width: 95.5%; */
    width: 100%;

}
.hoverP {
    position: absolute; /* .hoverP 요소를 절대적 위치로 설정 */
    left: 0;
    bottom:0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* 배경에 반투명한 검정색 추가 */
    padding: 5px; /* 텍스트 주위에 여백 추가 */
    margin: 0; /* 기본 margin 제거 */
    z-index: 1; /* .hoverP 요소를 이미지 위로 올리기 위해 z-index 사용 */
  }
  .leftWn{
    float: left;
    width: auto;
  }
  .rightAr{
    width: auto;
    margin-right: 10px;
    text-align: right;
    float: right;
  }

  .ATtext
  {
    display: none;
  }

  .rankContent{
    width: 53%;
    padding: 2px;
    margin-top: 83px;
    float: left;
  }



  