@media screen and (max-width:361px) and (min-width:10px) {
    /* 메인페이지  */
    .MainPage{
        width: 360px !important;
        margin: 0 auto;
    } 
    .AllToon{  
        width: 80% !important;
        margin: 0 auto;
        background-color: aliceblue;
    }
    .AllToon table{
        margin: 0 !important;
    }
    tr {
        width: 80%;
      }
    td{
        width: 60vw !important; 
        background-color: gainsboro;
    }
    
    .AllToonInfo{
        margin: 0 auto ;
    }
    .AllToonInfo img{
    }
    /* 데이페이지 */
    .DayToon{
        width: 100% !important;
    }
    .HHH{
        width: 100%;
        font-size: 1px !important        ;
        float: left;
    }
    .DayToonItem{
        width: 10vw !important;
        float: left !important;
        
    }
    .DayToonItem img{
        position: relative;
        top:0px;

        width: 100% !important;
        height: 20vw !important;
    }
    .Rank{
        width: 35vw !important;
        float: left;
    }
    .Rank .RankImg{
        width: 50vw;
    }

    .Rankitem{
        margin-top: 10px !important;
        float: right;
        width:23vw;
    }
    .RankText{
        font-size: 1px;
        width: 11vw !important;
        line-height: 8vw;
        margin-left: 3vw !important;
    }
    .Mid{
        float: left;
        width: 100% !important;
    }

    /* 태그페이지 */
    .tag{
        width: 80% !important;
        background-color: red;
    }
    .tagItem li{
        width: 8.7vw !important ;
        /* margin-right: 1.5vw !important; */
        margin-left: 5.5px;
    }
}
*{
    
    text-decoration-style: none;
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
    width: 360px;
    margin:  0 auto;
}
@media screen and (max-width:500px) and (min-width:30px){
    *{
        width:80%;
    }
    .AllToonInfo img{
        width: 21vw !important;
        margin-left: 15%;
        height: 26vw !important;
    }
    .AllToonInfo {
        height: 30vw !important;
        float: left;
    }
}
.Categories{
    font-size: 1vw;
    width: 90%;
    height: 2vw;
    float: left;
    margin: 0 auto;
}


.AllToon{
    width: 100%;
    margin: 0 auto;
    float: left;
    border-collapse:collapse;
}
.AllToon table{
    width: 360px;
    
}
.AllToon table p{
    margin-left: 5%;
    margin-top: 3%;
    float: left;
}

table , th ,td ,td{

  border-collapse: collapse;
}

.AllToon .ToonTitle{
    font-size: 1vw;
}
.AllToon .AllToonInfo img{
    width: 7.5vw;
    height: 10vw;
    float: left;
    background-color: black;
    text-align: center;
    border-collapse:collapse;
    
}
.AllTonnbox{
    width: 100% ;
    float: left !important;
}
.AllToon .AllToonInfo{
    width: 10vw;
    height: 12vw;
    overflow: hidden;
    border-collapse:collapse;
}
.ATBox{
    float: left;
    width: 30%;
}
tr{
    float: left;
}
.DayToon h3{
    font-size: 10px;
}



/* 요일별 css */
.Mid{
    width: 100%;
    float: left;
    margin: 0 auto;
}
.DayToon{
    margin-top: 1px;
    width: 50%;
    float: left;
}
.DayToon table{
    display: inline-block;
    width: 100%;
}
.Mid .DayToon .DayToonItem {
    width: 6vw;
    height: 8vw;
    float: left;
    margin-right: 10px;

  }
  
  .Mid .DayToon .DayToonItem img {
    background-color: yellow;
    width: 100%;
    height: 100%;
    float: left;
  }
  .DayToonItem p{
    float: left;font-size: 10px;
  }
  
.RBox{
    float: left;
    width: 20%;
    margin-top: 20px;
}



/* rank 랭크 */
.HHH{
    width: 40%;
    float: right;
    line-height: 30px;
    font-size: 10px;
    height: 23px;
    border-bottom: 1px solid rgb(230, 226, 226);
}

.Rank{
    width: 30%;
    height: 90px;
}


.RankImg img{
    background-color: yellow;
    float: left;
    width: 15%;
    height:60px;
    border-radius: 5px;
}
.RankNum{
    width: 3%;
    float: left;
    height: 60px;
    margin-left: 2%;
    line-height: 60px;
}
.RankText{
    float: left;
    width: 20%;    
    height: 60px;
    margin-left: 3%;
}