@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* .mp *{
    font-family: 'Jua', sans-serif;
    text-decoration-style: none;
    text-decoration: none;
    color: inherit;
    width: 360px;
    margin:  0 auto;
} */
@media screen and (max-width:721px) and (min-width:362px) {
    /* 메인 */
    .MNewToon{
        width: 80% !important;
    }

    .RankNum{
        width: 12% !important;
        float: left;
        font-size: 10px;
        margin-left: 2%;
        line-height: 100px;
        margin-top: 20px;
    }
    .RankText{
        float: left;
        width: 50% !important;
        font-size: 13px;
        margin-top: 25px;
    }
    #ll{
        width: 66% !important;
    }
    .MainPage{
        width: 720px !important;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .Mid .DayToon .DayToonItem.second-item {
        margin-left: 20px !important;
    }   
    .AllToonInfo {
        width: calc(33.3% - 10px) !important; /* 각 요소의 너비를 33.3%로 설정 (여백 10px 제외) */
        margin-bottom: 10px; /* 요소들 사이의 간격 설정 */
        display: flex;
        flex-wrap: wrap; /* 요소들을 여러 줄로 감싸기 */
        margin-right: 1%;
    }
    .AllToonInfo img{
        width: 100% !important;
    }

    .AllTonnbox{
        width: 100% !important;
    }
    .ToonTitle{
        line-height: 0px !important; 
        margin-bottom: 15px !important;
    }
    .AToonTitle{
        font-size: 15px !important;
        margin-top: 2px;
        margin-bottom: 7px !important;
    }
    .ATBox {
        width: 100% !important;
         /* 요소들을 간격을 유지하면서 정렬 */
      }

  
    .AllToon{  
        width: 80% !important;
        margin: 0 auto;
    }
    .AllToon table{
        margin: 0 !important;
    }



  

    /* 데이페이지 */
    .DayBox{
        width: 720px !important;
    }
    .Mid {
        display: flex !important; /* 요소들을 가로 방향으로 배치하기 위해 flexbox를 사용합니다 */
        justify-content: space-between ; /* 요소들을 양쪽으로 붙이도록 설정합니다 */
        align-items: flex-start; /* 요소들을 위쪽으로 정렬합니다 */
        width: 80% !important;
      }
    
    .DayToonItem{
        flex-wrap: wrap;
        width: 80% !important;
        height: 300px  !important;
        background-color: rebeccapurple;
    }
    .DayToonIMG{
        
        object-fit: cover;
    }
    
    
    .DayToonBox{
        width: 100% !important;
        float: left;
    } 
    .DayToonItem p{
        font-size: 15px !important;
        text-align: left;
      }
      .ToonTitle{
        margin-top: 5px;
      }
      .Writer{
        line-height: 3px !important;
        margin-bottom: 4px;
    }
    .Mid .DayToon .DayToonItem {
        width: 100% !important;
        height:250px !important;
        margin-bottom: 50px;
      }
    
      .Mid .DayToon .DayToonItem.second-item {
        margin-left: 20px;
      }
    .RBox{
        float: left !important;
        width: 100% !important;
    }
    .Rank{
        float: left !important;
    }
    .Rank .RankImg{
        width: 50%;

    }
    .HHH{
        margin-top: 40px !important;
        float: left !important;
        bottom: 30px !important;
        margin-left: 6.5% !important;
    }

    .Rankitem{
        margin-top: 10px !important;
        float: left;
        width: 100%;
    }
    .RankText{
        font-size: 1px;
        margin-top: 25px !important;
        width: 31% !important;
        float: right;
    }


    /* 태그페이지 */
    .tag{
        width: 80% !important;
    }
    .tagItem li{
        width: 7vw !important ;
        /* margin-right: 1.5vw !important; */
        margin-left: 5.5px;
    }
}
/* phone */
@media screen and (max-width:415px) and (min-width:362px) {
    /* 메인페이지  */
    /* .mp *{
        width: 100% !important;
    } */
    .MainPage{
        width: 100% !important;
        margin: 0 auto;
    } 
    .AllToon{  
        width: 100% !important;
        margin: 0 auto;
        
    }
    .AllToon table{
        margin: 0 !important;
    }

/* test */
    
    .AllToonInfo {
        margin-top:6% !important;
        width: calc(33.3% - 10px) !important; /* 각 요소의 너비를 33.3%로 설정 (여백 10px 제외) */
        margin-bottom: 5px !important; /* 요소들 사이의 간격 설정 */
        display: flex;
        flex-wrap: wrap; /* 요소들을 여러 줄로 감싸기 */
    }


    /* 데이페이지 */
    .DayBox{
        width: 360px !important;
    }

    .HHH{
        font-size: 1px !important        ;
        float: left !important;
    }
    .DayToonItem{
        width: 100% !important;
        float: left !important;
        
    }

    .RBox{
        display: block;
    }
    .Rank{
        float: left !important;
    }

    .RBox{
        float: left;
    }
    .Rankitem{
        margin-top: 10px !important;
        float: left !important;
        width:30vw;
    }
    .RankText{
        float: left !important;
        font-size: 1px;
        line-height: 8vw;
        margin-left: 3vw !important;
    }
    .RankNum{
    }
    .Mid{
        float: left;
        width: 100% !important;
    }

    /* 태그페이지 */
    .tag{
        
        width: 80% !important;
    }
    .tagItem li{
        width: 8.7vw !important ;
        /* margin-right: 1.5vw !important; */
        margin-left: 5.5px;
    }
}





@media screen and (max-width:361px) and (min-width:10px) {

    .ATMT{
        font-size: 6px !important;
        margin-top: 3px;
        width: 100%;
        
        position: relative !important;right: 10px;
        
    }

    /* 메인페이지  */

    .MainPage{
        width: 360px !important;
        margin: 0 auto;
    } 
    .AllToon{  
        width: 80% !important;
        margin: 0 auto;
        
    }
    #ll{
        width: 66% !important;
    }
    .AllToonInfo{
        margin-bottom: 40px !important;
    }

    
    



    .Mid {
        display: flex !important; /* 요소들을 가로 방향으로 배치하기 위해 flexbox를 사용합니다 */
        justify-content: space-between ; /* 요소들을 양쪽으로 붙이도록 설정합니다 */
        align-items: flex-start; /* 요소들을 위쪽으로 정렬합니다 */
        width: 80% !important;
      }
    .DayBox{
        width: 360px !important;
        
    }
    .DayToonBox{
        width: 80% !important;
        
    }
    .AllToonInfo img{
        width: 100% !important;
    }   
    .DayToonItem{
        width: 100% !important;
    }

    .DayToonItem p{
        font-size: 10px !important;
        text-align: left;
      }


    

    .RBox{
        width: 100% !important;
        float: left !important;
    }
    .HotToon{
        width: 100%;
    }
    .Rank {
        
        width: 100% !important;
        float: left !important;
        
}

.Rank .RankImg {
    float: left;
    width: 30%;
    object-fit:  contain !important;
}
.Rankitem{
    float: left !important;
    width: 100%;
}

.RankText {
    width: 60px !important;
    margin-top: 5px !important;
  font-size: 10px !important;
  width: 30%;
}
.RankText .RankWN {
    margin-top: 15px !important;
}
.Rankitem{
    float: left !important;
}
.RankNum {
  font-size: 10px;
  margin-top: 30px !important;
  width: 20% !important;
  float: left !important;
  line-height: 0px !important; /* 순위를 수직 가운데로 정렬합니다 */
}
    .HHH{
        width: 60% !important;
        margin-top: 40px !important;
        float: left !important;
    }

}

@media screen and (max-width:362px) and (min-width:30px){
    .MNewToon{
        width: 80% !important;
    }
    .ATBox{
        width: 100%;
    }
    .AllToon{
        width: 80%;
    }
    .AToonTitle{
        margin-bottom: 0px !important;
        width: 100% !important;
        position: relative;
        right: 10px;
    }
    .AllToonInfo {
        margin-top: 4px;

        /* 솔 */
        width: calc(33.3% - 1px) !important;
        height: 30vw !important;
        float: left !important;
    }
    .Star{
        line-height: 3px !important;
        margin-bottom: 6px;
    }
    .Categories{
        font-size: 11px !important;
    }

    .DayToonItem img{
        width: 110px !important;
        height: 145px !important;
        object-fit: contain;
    
    }
}
.Categories{
    font-size: 16px !important;
    width: 90%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.MainPage{
    width: 80%;
    max-width: 1920px;
}

.AllToon{
    width: 100%;
    margin: 0 auto;
    float: left;
    border-collapse:collapse;
}


.AllToon .ToonTitle{
    font-size: 11px !important;
}
.AllToon .AllToonInfo img{
    object-fit: contain;
    text-align: center;
    width: 100%;
    border-collapse:collapse;
    
}
.AllTonnbox{
    width: 100% ;
    float: left !important;
}
.AToonTitle{
    line-height: 5px !important;
}

.AllToonInfo {
    width: 13%;
    /* width: calc(33.33% - 25px); 각 요소의 너비를 33.33%로 설정 (여백 10px 제외) */
    margin-bottom: 10px; /* 요소들 사이의 간격 설정 */
  }

.ATBox {
    display: flex;
    flex-wrap: wrap; /* 넘치는 요소를 여러 줄로 감싸기 */
    justify-content: space-between;
     /* 요소들을 간격을 유지하면서 정렬 */
  }

.DayToon h3{
    font-size: 10px;
}

.AllToon tr{
    float: left;
}

/* 요일별 css */
.Mid{
    width: 100%;
    float: left;
    margin: 0 auto;
}
/* 미디어쿼리 포인트 */

.DayToon{
    display: flex;
    display: none;
    flex-wrap: wrap;
    /* width: calc(50% - 15px); 전체 너비에서 Rank 영역의 너비와 여백을 뺀 값으로 설정 */
    float: left;
}
.DayBox{
    width: 80%;
}
.DayToonBox{
    flex-wrap: wrap;
    width: calc(45% - 10px); 
    /* 전체 너비에서 Rank 영역의 너비와 여백을 뺀 값으로 설정 */
    float: left;
} 


.Mid .DayToon .DayToonItem {
    width: 150px;
    height: 200px;
    background-color: red;
    margin-bottom: 50px;
    margin-left: 0px;
}

  /* .Mid .DayToon .DayToonItem.second-item {
    margin-left: 0px;
  }
   */
  
   .DayToonItem{
    width: 150px;
    height: 200px;
    margin-bottom: 50px;
    margin-left: 0px;
   }
 
  .DayToonItem p{
    width: 100%;
    float: left;font-size: 10px;
  }
  .RBox{
    position: relative;
    bottom: 21px;
    float: right;
    width:51%;
  }
  .Rank {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    float: left;
    width: 100%; /* 부모 요소의 가로 너비에 맞게 설정합니다 */
    height: auto; /* 내용에 맞게 높이를 설정합니다 */
    margin-bottom: 10px;
  }
/* 미디어쿼리 포인트 */




/* rank 랭크 */
.HHH{
    position: relative;
    bottom: 30px;
    font-size: 16px;
    margin-bottom: 1px;
    width: 50%;
    float: right;

}


.RankImg{
    width: 20%;
    float: left;
}
.RankImg img{
    float: left;
    width: 100%;
    object-fit: contain;
    height:100%;
    border-radius: 10px;
}
.RankNum{
    width: 5%;
    float: left;
    font-size: 10px;
    margin-left: 2%;
    line-height: 100px;
    margin-top: 20px;
}
.RankText{
    float: left;
    font-size: 13px;
    margin-left: 3%;
    margin-top: 25px;
}
.RankText .RankAT{
}
.RankText .RankWN{
    margin-top: 36px;
}

.ToonTitle{
    float: left;
    line-height: 2px;
}





.ATIMG{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.DayToonItem img{
    width: 100%;
    object-fit: contain;

}
.DayToonItem{
    width: 45%;float: left;
    margin-right: 20px;
    
}

.Writer{
    line-height:18px;
}


.AToonTitle{
    font-size: 10px;
    line-height: 0px;
}


#ll{
    width: 61%;
}
.ATMT{
    font-size: 9px;
    color:gray;
}
.MNewToon{
    float: left;
    width: 100%
}