@media screen and (max-width:721px) and (min-width:362px) {
  .MNewToon{
    width: 720px;
  }
  .NewToonPage
  {
    width: 80% !important;
    margin: 0 auto;
    float: left;
  }


}
@media screen and (max-width: 419px) and (min-width: 363px) {

  .MNewToon {
    float: left !important;
    width: 100% !important;
    position: relative;
    background-color: rebeccapurple;
    height: 200px;
  }
  .NewToonPage {
    width: 100% !important;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .NewToonInfo {
    width: 100% !important;
    height: 100px !important;
    cursor: pointer;
  }
  .NewToonInfo img {
    
    height: 170px !important;
    border: 1px solid #000;
    background-color: red;
  }
}



@media screen and (max-width:361px) and (min-width:100px) {
  .MNewToon{
    width: 360px;
  }
  .NewToonPage
  {
    width: 80% !important;
    margin: 0 auto;
    height: 100px !important;
    
    float: left;
  }
  .NewToonInfo {
    width: 100%  !important;
    height: 100px !important;
    align-items: center;
    float: left !important;
    margin-left: 17% !important;
    justify-content: center;
    cursor: pointer;
  }

  .NewToonItem img{
    max-width: 200%;
    height: 100px !important;
  }


}


.NewToonPage {
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider {
  display: flex;
  justify-content: center;
}

.NewToonInfo.active {
  transform: translateX(calc(100% /33.3%));
}

.NewToonInfo {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.NewToonItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewToonInfo img {
  height: 170px;
  border: 1px solid #000;
  background-color: red;
  object-fit: contain;
}

