@media screen and (max-width:361px) and (min-width:10px) {

  .NewToonInfo{
    width: 70% !important;
    height: 30vw !important;
    background-color: honeydew;
  }
  .DayToon h3{
    font-size: 1px !important;
    width: 100%; 
  }
  .NewToon{
    background-color: honeydew;
    width: 100% !important;
    margin-left: 0% !important;
  }
  .NewToonInfo img {
    width: 100% !important;
    height: 100px !important;
    background-color: red;
  }
  
  .NewToonInfo{
    float: left;
  }
  .NewToonInfo img{
    width: 100vw !important;
    
  }
}
.NewToonInfo {
    margin-top: 1vw;
    width: 100%;
    height: 150px;
    display: flex; /* 수정: float 속성 대신 display: flex; 사용 */

    margin-bottom: 1.5vw;
  }
  
  .NewToonInfo img {
    width: 65%;
    height: 150px;
    border: 1px solid #000;
    background-color: red;
    object-fit: cover;
  }
  
  .NewToonInfo .Title {
    position: relative;
    top: 0px;
  }
  