@media screen and (max-width:721px) and (min-width:362px) {
  /* .NewToonBOx{
    width: 720px !important;
  }
  .NewToonPage
  {
    width: 85% !important;
    position: relative;
    right: 15%;
    float: left !important;
  }
  .NewToonInfo{
    height: 310px !important;

  }
  .NewToonItem img{
    height: 300px !important;
    width: 100% !important;
    position: relative;
    left: 29%;
    object-fit: contain !important;
  }
   */
   .NewToonBOx{
    width: 100% !important;
  }
  .SBox{
    width: 100%;
  }
  .NewToonPage
  {
    width: 100% !important;
    position: relative;
    right: 12.5%;
    height: 205px !important;
  }
  .NewToonInfo {
    width: 150px !important;
    height: 200px !important;
    cursor: pointer;
    margin-left: 100px !important;
    background-color: red;
  }


  .NewToonInfo img {
    width: 100% !important;


  }


}
@media screen and (max-width: 419px) and (min-width: 363px) {

  .MNewToon {
    float: left !important;
    width: 100% !important;
    position: relative;
    height: 200px;
  }
  .NewToonPage {
    width: 100% !important;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .NewToonInfo {
    position: relative;
    right: 30%;
    width: 100% !important;
    height: 200px !important;
    cursor: pointer;
  }
  .NewToonInfo img {
    height: 170px !important;
    border: 1px solid #000;
  }
}



@media screen and (max-width:361px) and (min-width:100px) {

  .NewToonBOx{
    width: 100% !important;
    background-color: rebeccapurple ;
  }
  .NewToonPage
  {
    background-color: rebeccapurple ;

    width: 100% !important;
    position: relative;
    right: 12.5%;
    height: 170px !important;
  }
  .NewToonInfo {
    width: 100%  !important;
    height: 169px !important;
    
    float: left !important;
    margin-left: 20% !important;
    justify-content: center;
    cursor: pointer;
  }


  .NewToonInfo img {
    width: 100% !important;
  }

}
.NewToonBOx{
  width: 100% !important;
}


.NewToonPage {
  /* background-color: rgba(159, 142, 142,0.4); */
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  float: left;
  height: 500px;
  /* justify-content: center; */
}

.NewToonInfo.active {
  /* transform: translateX(calc(100% /33.3%)); */
}

.NewToonInfo {
  /* width: 100%  !important;
  align-items: center;
  width: calc(33.3%) ;
  
  float: left !important;
  margin-left: 17% !important;
  justify-content: center;
  cursor: pointer; */
  height: 450px;
  width: 380px;
  margin-top: 20px;


}



.NewToonInfo img {
  object-fit: contain;
  width: 100%;

}



