@media screen and (max-width:721px) and (min-width:362px) {

    .WebToonPage{
        width: 720px !important;
        margin: 0 auto;
        
    }
    .WebToonBox{
        width: 80% !important;
        margin: 0 auto;

        
    }
    .WebToonCut{
        width:100% !important;
        float: left;
        margin-bottom: -6px !important;

    }

}
/* teset */
@media screen and (max-width:414px) and (min-width:362px) {
    .WebToonPage{
        width: 360px !important;
        margin: 0 auto;
    }
    .WebToonBox{
        width: 80% !important;
    }
    .WebToonCut{
        width:80% !important;
        float: left;
    }
}
/* test */
@media screen and (max-width:361px) and (min-width:10px) {
    .WebToonPage{
        width: 360px !important;
        margin: 0 auto;
    }
    .WebToonBox{
        width: 80% !important;
    }
    .WebToonCut{
        width:80% !important;
        float: left;
    }


}
.WebToonPage{
    width: 360px;
    margin: 0 auto;
}
.WebToonBox{
    width: 100%;
    float: left;
}

.WebToonCut{
    width: 100%;
    margin: 0 auto;
    float: left !important;

    margin-bottom: -5px;
}
.WebToonCut img{
    width: 100%;
    object-fit: contain;
}

