@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@media screen and (max-width:721px) and (min-width:362px){
    .ListPage{
        width: 720px !important;
    }


    .Pagination{
        position: relative;
        right: 50px;
    }
    .ListInfo{
        margin-top: 10px !important;
    }
    .DESC{
        font-size: 9px;
        width: 150px !important;

        margin-bottom: 0px !important;
    }
    #PointBtn{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .IBtn{
        width: 65% !important;
    }
    .InfoBtn{
        width: 100% !important;
        height: 120px !important;

        margin-top:103px !important;
    }




    .ListInfoBox{
        height: 200px !important;
        width: 80% !important;
    }
    .ListImgBox{
        width: 25% !important;
        height: 190px !important;
    }
    .ListInfot{
        width: 70% !important;
    }
    .TextBox{
        width: 100% !important;
    }
    .tab2{
        width: 100%;
        height: 30px !important;
    }
    .ConTent{
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    .ListImgBox img{
        height: 100% !important;
    }
    .ListImg img{
        width: 30% !important;
    }
    .SNSBTN{
        width: 32% !important;
        margin-left:3% !important;


    }
    /* 썸네일 밑에 제목 글자 간격 조정 */



    .ListBox{
        margin-top: 10px;
        width: 80% !important;
    }
    .List{
        position: relative;
        left:20px;
        width: 90% !important;

    }
    .ListItem{
        position: relative;
        right: 36% !important;
    }



}

/* test */
@media screen and (max-width:414px) and (min-width:362px) {
    .ListPage{
        width: 400 !important;
    }
    .DESC{
        font-size: 9px;

        width: 100px !important;
        
    }

    #PointBtn{
        width: 100% !important;
    }


    .IBtn{
        width:50% !important;
        font-size: 10px !important;
    }
    
    .SNSBTN{
        width: 47.5% !important;
    }
    .InfoBtn{
        margin: 0 auto !important;
        width: 100% !important;
        margin-top: 6% !important;
    }



    .tab2{
        line-height: 10vw !important;
    }
    #line{
        line-height: 10px;
    }
    .ListInfoBox{
        height: 500px !important;
        width: 85% !important;
    }
    .ListImgBox {
        display: flex;
        align-items: center;
        width: 100%;
        height: 140px !important;
      }
    .ListImgBox img{
        height: 100% !important;
    }

    /* 썸네일 밑에 제목 글자 간격 조정 */


    .tab2{
        position: relative;
        bottom:4vw !important;
    }
    .GrayP{
        position: relative;
        bottom: 20vw !important;
    }
    .List{
        width: 80% !important;
        float: left !important;
    }
    .ListItem{
        position: relative;
        right: 8vw;
        width: 100%;
    }
    .ListImg {
        width: 35% !important;
        height: 100% !important;
        float: left;
        object-fit: contain; /* 이미지 비율 유지 */
      }
    .ListItem .ListImg img{
        width:100% !important;
        height: 100% !important;
        float: left;
    }
    .Episode {
        width:60% !important;
        height: 100%;
        display: block;
        
        align-items: center;
      }
    .LT{
        width: 100% !important;
    }
    .SU{
        width: 30% !important;
        float: left !important;
    }
    .ListInfo{
        margin-top: 0px !important;

    }
}

/* test */
@media screen and (max-width:361px) and (min-width:10px) {

    .ListPage{
        overflow: hidden;
        width: 360px !important;
    }
    .ListInfo{
        margin-top: 5px !important;

    }
    .Pagination{
        position: relative;
        right: 33px !important;
    }
    .InfoBtn{
        width: 100% !important;
        float: left;
        margin-top: 17px !important;
    }
    #PointBtn{
        width: 33% !important;
        margin-right: 3px;
    }
    .IBtn{
        margin-top: 5px;
        width:41.8% !important;
        font-size: 10px !important;
    }
    .DESC{
        font-size: 5px !important;
        margin-top: 8px !important;
        width: 77px !important;
        
    }
    .short{
        display: none;
        margin: 0;
    }
    .SNSBTN{
        font-size: 10px;
        width: 19.8% !important;
        margin-left: 5px !important;
    }

    




    .ListInfoBox{
        height: 140px !important;
        width: 80% !important;
    }
    .TextBox{
        height: 80px !important;
        float: left;
        width: 100% !important;
        margin: 0 auto;
        
    }
    .ListInfot{
        width: 55% !important;
        height: 140px !important;
    }
    .ListImgBox {
        align-items: center;
        width: 40% !important;
        height: 140px !important;
      }
    .ListImgBox img{
        height: 100% !important;
    }

    /* 썸네일 밑에 제목 글자 간격 조정 */



    .GrayP{
        font-size: 10px !important;
        font-weight: normal;
    }
    .List{
        margin-top: 0px !important;
        width: 80% !important;
        float: left !important;
    }
    .ListItem{
        position: relative;
        right:15% !important; 
        width: 100%;
    }
    .ListImg {
        width: 35% !important;
        height: 100% !important;
        float: left;
        object-fit: contain; /* 이미지 비율 유지 */
      }
    .ListItem .ListImg img{
        width:100% !important;
        height: 100% !important;
        float: left;
    }
    .Episode {
        width:60% !important;
        height: 100%;
        display: block;
        
        align-items: center;
      }
    .LT{
        width: 100% !important;
    }
    .SU{
        width: 30% !important;
        float: left !important;
    }
    .Episode{
        margin-top: 23px !important; 
    }
}



.ListPage{
    width: 80%;
    font-family: 'Jua', sans-serif;
    list-style: none;
    margin: 0 auto;
}
.ListInfo{
    height: 100px;
    width: 100%;
    float: left;
    margin: 0 auto;
    margin-top: 20px;
}
.ListImgBox{
    position: relative;
    bottom: 1.6vw;
    float: left;
    width: 20%;
}

.ListInfoBox{
    width: 100%;
    float: left;
    height: 290px;
}
.ListImgBox img{
    float: left;
    width: 100%;
    height: 300px;
    margin-top: 1px;
    object-fit: contain;
}

.ListInfo p{
    float: left;
    width: 100%;
}
.ConTent{
    float: left !important;
}
.ListInfot{
    float: left;
    width: 79%;
    height: 263px;
    margin-left: 10px;
}
.tab2{
    font-size: 20px;
}
.GrayP{
    color:gray;
    float: left;
    margin-bottom: 5px;
}
.ListInfo h3{
    position: relative;
    top:20px;
}
.ListInfo span{
    color:black;
    margin-left: 5%;
    width: 20%;
}
.TextBox{
    height: 100px;
    font-size: 1vw;
    width: 100%;
    float: left;
}
.List{
    padding: 0;
}

.InfoBtn{
    width: 100%;
    margin-top: 187px;
}

.IBtn{
    width: 60%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(230, 226, 226);
    background-color: rgb(247, 247, 247);
}
#PointBtn{
    margin-bottom: 5px;
    width: 98%;
    border: 1px solid rgb(208, 249, 208);
    background-color: rgb(210, 246, 210);
}
.SNSBTN{
    border-radius: 5px;
    width: 36.9%;
    margin-left: 10px;
    height: 35px;

    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(230, 226, 226);
}
/* // 버튼이랑 리스트 겹치는 원인 높이  */


.ListBox{
    width: 100%; 
    float: left;
}


.Pagination{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
.Pagination Button{
    background-color: white;
    border: none;
    cursor:pointer;
    margin-right: 8px;
    width: 10%;
}
.ListImg{
    width: 100%;
}
.ListItem{
    box-sizing: border-box; /* padding과 border가 요소 크기에 포함되도록 설정 */
    height: 65px;
    border-bottom: 1px solid rgb(230, 226, 226);
}
/* .ListItem .ListImg img{
    width:30%;
    height: 100%;
    object-fit: contain;
    float: left;
} */
.ListItem .ListImg img{
    width:10%;
    height: 50%;
    object-fit: contain;
    float: left;
}
.Episode{
    margin-top: 1.5vw;
    width: 50%;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    float: left;
    margin-left: 2%;
}


.SU span{
    margin-left: 20px;
}




.DESC{
    font-size: 12px;
    float: left;
    width: 9%;
    border-bottom: 1px solid rgb(230, 226, 226);
    margin-bottom: 10px;
}
.DESC span{
    cursor: pointer;
}

.dn{
    display: none;
}


.List li{
    list-style: none;
}
