@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@media screen and (max-width:721px) and (min-width:362px) {
  .LoginMenu{
    margin: 0 auto;


  }

  .LoginPageBtn{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
    border: none;
  }
  .KLoginPageBtn{
    width: 80% !important;

    height: 50px;
    border: none;
  }

  .LoginPage{
    width: 720px !important;
    margin: 0 auto !important;

  }
  .LoginMenu{
    margin-left: 200px !important;
  }
  .LoginMenu li{
    float: left;
    margin-right: 0px !important;
    font-size: 10px;
    margin-top: 15px; 
    width: 15% !important;
}

  .LoginBox {
    margin-left: 0px !important;
    width: 80% !important;
    margin-top: 22% !important;
    padding: 0px !important;

  }
  .LoginBox table {
    width: 100% !important;
  }
  .LoginBox table td {
    border: 1px solid #000;
  }
  
  .LoginBox table input {
  
    width: 100% !important;
    height: 50px;
    border: 0px solid #000;
  }


}

@media screen and (max-width:361px) and (min-width:10px) {
  .LoginMenu{
    margin: 0 auto;

  }
  .LoginPage{
    width: 360px !important;
    margin: 0 auto !important;

  }
  .LoginBox table input {
    
    width: 100% !important;
  }
  .LoginBox{
    width: 80% !important;
    margin-left: 0px !important;
  }
  .LoginBox  table {
    width: 100% !important;
    border-radius: 10%;
  }
  .KLoginPageBtn{
    width: 80% !important;
  }
  .LoginMenu{
    margin-left: 55px !important;
  }
  .LoginMenu li{
    float: left;
    margin-right: 0px !important;
    font-size: 10px;
    margin-top: 15px !important; 
    margin-bottom: 5px !important;
    width: 25% !important;
}
}


.LoginPage {
  font-family: 'Jua', sans-serif;

    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .LoginLogo {
    padding-top: 25px;
    padding-bottom: 15px;
    
    text-align: center;
    margin: 0 auto;
  }
  
  .LoginBox {
    display: flex;
    padding: 20px;
    flex-direction: column; /* 세로 정렬을 위한 열 방향 설정 */
    align-items: center; /* 가운데 정렬 */
    width:40%;
    height: 390px;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 12%;
  }
  .LoginPageBtn{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
    border: none;
  }
  .KLoginPageBtn{
    width: 100% !important;
    margin: 0 auto;
    margin-top: 10px;
    background-color: rgb(250,231,72);
    color:rgb(26,26,28);
    height: 50px;
    border: none;
  }

  
  .LoginBox table td {
    border-radius: 7px;
    border: 1px solid #000;
    padding: 10px;
    width: 500px;
  }
  
  .LoginBox table input {
  
    width: 90%;
    height: 50px;
    border: 0px solid #000;
  }
.LoginMenu{
    margin: 0 auto;
    margin-left: 35%;

}
.LoginMenu li{
    list-style: none;
    float: left;
    font-size: 10px;
    width: 10%;
    margin-top: 15px; 
    
}



.red{
  color:red;
}