@media screen and (max-width:721px) and (min-width:362px) {
    .LogoBox .Logo{
        font-size: 23px !important;
        margin-left: 10px !important;
    }
    .addBtn{
        width: 20% !important;
    }
    .InputBox{
        margin-left: 70px;
    }
    .Day li{
    }
    .TodayText{
        right: 12px !important;
    }

    .SerchBar{
        width: 100% !important;
        float: right !important;
        margin-right: 14%;
    }
    .SerchBtn{
    }

    .HederBox{
        width: 100% !important;
        margin-left:0%;
    }
    .LoginBtn{
        width: 18% !important;

        margin-top: 2px !important;
    }
    .SerchBar input{
        width: 50% !important;
    }
    .header{
        width: 100% !important;
    }
    .TopHeader{
        float: left !important;
    }





    .HDayBox{
        font-size: 12px !important;
        width: 100% !important;
        background-color: ghostwhite;
        float: left;
    }
    .AD{
        width: 10% !important;
        margin-right: 30px !important;
    }
    .HDayBox li{
        margin-right: 17px !important;
    }

.Day{
    float: left !important;
    margin: 0 auto;
}



}
/* test */

  
  
  
/* teset */
@media screen and (max-width:361px) and (min-width:10px) {
    .addBtn{
        font-size: 15px !important;
        width: 30% !important;
    }
    .HederBox{
        width: 100% !important;
        margin-left:0%;
        overflow: hidden;
    }
    .header{
        height: 60px !important;
    }
    .LogoBox{
        width: 30% !important;
        height: 100%;
    }
    .LogoBox .Logo{
        font-size: 15px !important;
        margin-left: 5px;
        margin-top: 0px !important;
    }
    .TodayText{
        display: none;
    }
    .InputBox{
        margin-left: 45px;
    }
    .SerchBar{
        margin-top: 25px !important;
        width: 100% !important;
        margin-right: 45px;
    }
    .header{
        width: 100% !important;
    }
    .SerchBar input{
        width: 40% !important;
        height: 13px !important;
    }

    .SerchBtn{
        font-size: 10px !important;
        width: 32% !important;
        height: 18.8px !important;
    }
    .rb{
        width:70% !important;
    }

    .LoginBtn{
        line-height: 18px !important;
    }


    .HDayBox{
        font-size: 10px;
        background-color: ghostwhite;

        display: block !important;
    }
    .AD{
        margin-right: 15px;
        width: 20% !important;
    }
    .vis{
        display: none;
    }
    .HDayBox li{
        margin-right: 13px !important;
    }

.Day{
    float: left !important;
}




}

.header{
    background-color: white ;
    display: block;
    width: 100%;
    height: 75px;
    /* border-bottom: 1px solid gray; */
}
.TopHeader{
    background-color: white ;

    float: left;
    width: 100%;
    height: 100%;
}
.header .LogoBox{
    float: left;
    background-color: white ;

    width: 50%;    
}
.header .Logo{
    z-index: 9 !important;
    margin-top: 5px;
    font-size: 27px;
    float: left;
    width: 10%;
    background-color: white ;
}
.LogoBox h1{

    float: left;
    line-height:70px;
}

.rb{
    background-color: white ;

    width: 50%;
    float: left;
    height: 100%;
}
.AD{
    
    width: 10% ;
    font-size: 17px;
    margin-left: 5px;
}
.SerchBar{
    float: right;
    width: 70%;
    margin-top: 30px;

}
.SerchBar input{
    background-color: white ;

    width: 50%;
    height: 20px;
    float: left;
    font-size: 1px;
}
.LoginBtn{
    background-color: white ;

    width: 20%;
    float: right;
}

.SerchBtn{
    background-color: white ;

    height: 25px;
    width:25%;
    float: left;
    font-size: 1px;
    background-color:rgb(171,230,157);
    border: 1px solid black;

}

.HDayBox{

    /* background-color: ghostwhite; */
    background-color: rgb(171,230,157);
    /* margin-bottom: 20px; */
    width: 100%;
    /* border-bottom: 1px solid black; */
    height: 32px;
    float: left;

    display: block;
}

.Day{
    background-color: rgb(171,230,157);
    margin: 0 auto;
}
.Day li{

    height: 30px;
    line-height: 32px;
    font-size: 18px;
    float: left;
    list-style: none;
    width: 5% ;
    color:white;
    background-color:rgb(171,230,157)   ;
    margin-right: 0.5vw;
}
.AllDay{

    width: 15% ;
}

.AllDay{

    position: relative;    
    z-index: 99;
}

@media (prefers-color-scheme: dark)  {
    .Color{
    background-color: white;
    margin-left: 2.5px;
    }
    .SerchBar{
        background-color: white;

    }
}

.Color{
    color:rgb(171,230,157);
    z-index: 0 !important;


}

.CurrentDay {
    cursor: pointer;
    position: relative;
  }

  .TodayText{
    position: relative;
    bottom: 18px;
    right: 15px;
    height: 0;
    background-color: white;

    animation: scaleani 2s ease infinite; 
  }

@keyframes scaleani {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1) translateY(-7px); /* 위로 10px 이동 */
    }
    100% {
        transform: scale(1) translateY(0);
    }
}


#go{
    color:white !important;
    
}


  /* //어드민페이지 // */
  .addBtn{
    margin-top: 10px;
    width: 10%;
    height: 40px;
    font-size: 20px;
  }
  .addButtonContainer{
    width: 100%;
    height: 1000px;
    background-color: white;
  }



