@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@media screen and (max-width:721px) and (min-width:362px) 
{

    .SerchWebToon{
        overflow: hidden;
        width: 720px !important
    }
    .EpisodeP{
        float: left;
    }
    .tab2{
        float: left;
    }
    .SerchPage ul li{
        width:calc(28%) !important; 
        position: relative;
        right: 30px;
    }


    .SerchWebToon img{
        object-fit: contain;
        width: 150px !important;
        height: 200px !important;
    }
    
}

@media screen and (max-width:361px) and (min-width:10px) 
 {
    .SerchWebToon{
        overflow: hidden;
        width: 720px !important
    }
    .EpisodeP{
        float: left;
    }
    .tab2{
        float: left;
    }
    .SerchPage ul li{
        width:calc(28%) !important; 
        position: relative;
        right: 30px;
    }


    .SerchWebToon img{
        object-fit: contain;
        width: 150px !important;
        height: 200px !important;
    }

}


.SerchWebToon{
    max-width: 1920px;
    text-decoration-style: none;
    text-decoration: none;        color: inherit;
    width: 80% ;
    margin:  0 auto;
}

.SerchWebToon img{
    width: 200px;
    height: 250px;
    object-fit: contain;
}

.EpisodeP{
    font-size: 15px;
}
.tab2{
    font-size: 10px;
    color: gray;
}

.SerchPage{
    width: 100%;
    float: left;

}
.SerchPage ul{
    margin: 0;
    padding: 0;
}
.SerchPage ul li{
    list-style: none;
    float: left;
    width:calc(15.5%);
    float: left;
}
