.tag{
    float: left;
    max-width: 1920px;
    width: 100%;
}
.tag .tagItem li{
    width: 20%;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right:1.5%;
    margin-left: 1.5%;
    margin-bottom: 10px;
    list-style: none;
    color:black;
    border: 2px solid rgb(171,230,157);
    text-align: center;
    font-size: 16px;
    /* background-color: rgb(171,230,157); */
    padding: 10px;
    border-radius: 14px;
}


.tag h3{
    font-size: 16px;
    width: 100%;
    height: 2vw;
    margin-bottom: 15px;
}

@media screen and (max-width:721px) and (min-width:363px){
    .tag{
        width: 100% !important;
        float: left !important;
    }
    .tagItem{
        width: 100%;
    }
    .tagItem li{
        height: 15px !important;
        line-height: 15px !important;
        width: 18% !important;
        font-size: 13px !important;
        margin-bottom: 15px !important;
    }
    .tag h3{
        margin-bottom: 30px !important;
        margin-left: 10px !important;
    }

}

@media screen and (max-width:362px) and (min-width:30px){
    .tag{
        width: 100% !important;
    }

    .tagItem{
        float: left;
    }
   
    .tag .tagItem li{
        height: 7px !important;
        margin-right: 2px !important;
        line-height: 7px !important;
        border-radius: 8px !important;
        margin-bottom: 7px !important;
        width: 16% !important;
        font-size: 10px !important;
    }
    #tagtop{
        float: left !important;
        margin-top: 10px !important;
        margin-bottom: 30px !important;
    }
    .tag h3{
        margin-bottom: 30px !important;
        margin-left: 5px !important;
        font-size: 15px !important;
    }
}
.tag{
    width: 100%;
}
#tagtop{
    margin-top: 0px;
}
.tag h3{
    font-size: 23px;
    float: left;
    margin-left: 20px;
    margin-bottom: 5px;
}

.tagItem li:hover{
    background-color: rgb(171,230,157);
}