@media screen and (max-width:721px) and (min-width:362px) {
  .ClickLayout{
    width: 64% !important;
  }

}

@media screen and (max-width:361px) and (min-width:10px){
  .ClickLayout{
    width: 64% !important;
  }
  .Layout{
     color:red;
     font-size: 12px;
  }
  .Litem{
    width: 100%;
  }
  .Ritem{
    width: 40vw;
  }
}

  .Layout{
    width: 360px;
  }
  .LayoutContent {
    width: 100% !important;
    margin: 0 auto;
    background-color: black;
    height: 35px;
    opacity: 1;
    transition: opacity 0.5s ease; /* 투명도 변경 애니메이션 설정 */
  }
  .ClickLayout {
    color:white;
    position: fixed;
    margin-top: 20px;
    font-size: 15px;
  }
  .LeftLayout{
    float: left;
    margin-top: 2.5%;
    width: 50%;
  }
  .Litem{
    float: left;
  }
  .Ritem{
    float: right;
  }
  .RigthLayout{

    margin-top: 2.5%;
    width: 40%;
    float: right;
  }

  .ScrollDown{
    /* position: fixed; */
    bottom: 100px;
    width: 50px;
}
.ScrollTop{
  bottom: 120px;
  width: 50px;
}