@media screen and (max-width:721px) and (min-width:362px) {

    .WebToonPage{
        width: 720px !important;
        margin: 0 auto;
        
    }
    .WebToonBox{
        width: 80% !important;
        
    }
    .WebToonCut{
        width:80% !important;
        float: left;
    }
    .WebToonCut img {
        width: 330px !important;
        margin-left: 30% !important;
        margin-right: 27%;
    }

}
/* teset */
@media screen and (max-width:414px) and (min-width:362px) {
    .WebToonPage{
        width: 360px !important;
        margin: 0 auto;
    }
    .WebToonBox{
        width: 80% !important;
    }
    .WebToonCut{
        width:80% !important;
        float: left;
    }
}
/* test */
@media screen and (max-width:361px) and (min-width:10px) {
    .WebToonPage{
        width: 360px !important;
        margin: 0 auto;
    }
    .WebToonBox{
        width: 80% !important;
    }
    .WebToonCut{
        width:80% !important;
        float: left;
    }

}
.WebToonPage{
    width: 360px;
    margin: 0 auto;
}
.WebToonBox{
    width: 80%;
    float: left;
}

.WebToonCut{
    width: 100%;
    margin: 0 auto;
}
.WebToonCut img{
    width: 330px;
    height: 900px;
    margin-left: 15px;
}

