


.header{
    float: left;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid gray;

}
.Logo{
    margin-left: 5%;
    float: left;
    width: 20%;
    font-size: 30px;
}
.SerchBar{
    width: 15%;
    height: 30px;
    float: left;
    margin-top: 22.5px;
    margin-left: 50%;
}
.LoginBtn{
    margin-top: 22.5px;
    margin-right: 5%;
    height: 35px;
    float: right;
    width: 4%;
}



.DayBox{
    width: 100%;
    border-bottom: 1px solid gray;
}
.Day{
    margin: 0 auto;
    width: 90%;
    height:140px;
}
.Day li{
    float: left;
    list-style: none;
    width: 100px;
    line-height: 60px;
    font-size: 20px;
}
.Categories{

    width: 90%;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
}
.NewToon{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.NewToonInfo{
    border: 1px solid #000;
    width: 80%;
    margin: 0 auto;
    height: 350px;
}
.NewToonInfo img{
    width: 100%;
    height: 270px;
}
.NewToonInfo .Title{
    position: relative;
    top:0px;
}

.AllToon{
    width: 90%;
    margin-left: 5% ;
    float: left;
    border-collapse:collapse;
}
.AllToon table{
    width: 100%;
    
    border: 1px solid rgb(230, 226, 226);
}
.AllToon table p{
    line-height: 1px;
    margin-left: 5%;
}

table , th ,td ,td{

  border-collapse: collapse;
}
.AllToon table th{
    border-right: 1px solid rgb(230, 226, 226);
}
.AllToon table td{
    border-right: 1px solid rgb(230, 226, 226);
}

.AllToon .AllToonInfo img{
    width: 95%;
    height: 300px;
    padding: 2.5%;
    text-align: center;
    border-collapse:collapse;

}
.AllToon .AllToonInfo{
    height: 350px;
    border-collapse:collapse;
}
.tag{
    float: left;
    width: 90%;
    margin: 0 auto;
}
.tagItem {
    width: 100%;
    margin-left: 5%;
    float: left;
    

}

.tag .tagItem li{
    float: left;
    list-style: none;
    text-align: center;
    font-size: 30px;
    margin-right: 4%;
    margin-left: 4%;
    background-color: rgb(230, 226, 226);
    padding: 10px;
    border-radius: 10px;
}


.tag h3{
    color:red;
    width: 90%;
}
