.SignUpPage{
  width: 60%;
  margin: 0 auto;
  margin-top: 7%;
  text-align: center;
}
.MB{
  margin-bottom: 30px;
}
.SignBtn{
  float: left;
  height: 35px;
  width: 70%;
  margin: 0 auto;
  margin-left: 15%;
  margin-top: 20px;
}
.SignUpBox{
  width: 70%;
  margin: 0 auto;
  height: 350px;
  border: 1px solid #000;
}
.MT{
  margin-top: 30px;
}
.SignUpBox label{
  text-align: left;
  float: left;
  width: 30%;
  margin-left: 6%;
}
.SignUpBox input{
  width: 50%;
  float: left;
  height: 30px;
}
