@media screen and (max-width:721px) and (min-width:362px) {
  .LoginMenu{
    margin: 0 auto;
    margin-right: 0px !important;

  }

  .LoginBox {

    margin-top: 25% !important;
  }


  .LoginBox table input {
    
    width: 100% !important;
  }
  .LoginBox  table {
    width: 100% !important;
    border-radius: 10%;
    margin-left: 10% !important;
  }
}

@media screen and (max-width:361px) and (min-width:10px) {
  .LoginMenu{
    margin: 0 auto;
    margin-right: 0px !important;

  }
  .LoginBox table input {
    
    width: 100% !important;
  }
  .LoginBox  table {
    width: 100% !important;
    border-radius: 10%;
    margin-left: 10% !important;
  }
}


.LoginPage {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .LoginLogo {
    padding-top: 25px;
    padding-bottom: 15px;
    
    text-align: center;
    margin: 0 auto;
  }
  
  .LoginBox {
    display: flex;
    flex-direction: column; /* 세로 정렬을 위한 열 방향 설정 */
    align-items: center; /* 가운데 정렬 */
    width:60%;
    height: 390px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 15%;
  }
  .LoginPageBtn{
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
  }
  .KLoginPageBtn{
    width: 86%;
    margin: 0 auto;
    margin-top: 10px;
    height: 50px;
  }

  
  .LoginBox table td {
    border-radius: 7px;
    border: 1px solid #000;
    padding: 10px;
    width: 500px;
  }
  
  .LoginBox table input {
  
    width: 90%;
    height: 50px;
    border: 0px solid #000;
  }
.LoginMenu{
    margin: 0 auto;

}
.LoginMenu li{
    list-style: none;
    float: left;
    margin-right: 20px;
    font-size: 10px;
    margin-top: 15px; 
    
}



.red{
  color:red;
}