/* @media screen and (max-width:721px) and (min-width:362px) {
  div#carousel{
    width: 83.9% !important;
    float: left;
    padding-top: 10% !important; 
    perspective:500px !important; 

  }
  figure#spinner img { 
    position: absolute; 
    object-fit: contain;
    outline:1px solid transparent;
    border: 2px solid #000; 

  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -550px !important; 
    transition: 1s; 
    width: 200px !important;
  } 
  .nt{
    width: 720px !important;
    position: relative;
    right: 100px !important;
  }
  figure#spinner img{
    width: 100% !important;
  }
} */

#left{
    float: left;
}
#right{
    float: right;
}
.nt{
  float: left;
  width: 720px;
  background-color: red;
  position: relative;
  right: 200px;
}
div#carousel { 
    perspective: 1200px; 
    padding-top: 2%; 
  width: 100%;
    height: 400px;
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
    width: 1000px;
  } 
  figure#spinner img { 
    width: 15%; 
    max-width: 425px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    object-fit: contain;
    outline:1px solid transparent;
    border: 2px solid #000; 
  }
  figure#spinner img:nth-child(1) { transform: rotateY(0deg); }
  figure#spinner img:nth-child(2) { transform: rotateY(-72deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-144deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-216deg); }
  figure#spinner img:nth-child(5) { transform: rotateY(-288deg); }
  
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }